<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phúc Long Coffee & Tea</title>
    <meta name="keywords" content="trà, cà phê, tea, coffee, phúc long, phuclong, trà sữa, đá xay, kem sữa, ô long, oolong,  " />
    <meta name="description" content="Chất lượng khởi nguồn từ đam mê" />
    <meta name="copyright" content="Phúc Long Store" />
    <meta name="author" content="Phúc Long Store" />
    <meta name="image" content="https://phuclong.com.vn/images/home/banner-main/cover_full.jpg">
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/vendor/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
<div class="header">
<div class="container">
<div class="row">
<a href="trang-chu"><img src="~/images/logo.png" alt="PhucLong Store"></a>
</div>
<div class="container">
                @await Html.PartialAsync("_MenuPartial")
</div>
</div>
</div>
<div class="content">
<div class="container">
<div class="col-md-9">
@RenderBody()
</div>
<div class="col-md-3">
                @await Html.PartialAsync("_BlogPartial")
<div class="panel panel-success panel-post">
<div class="panel-heading panel-heading-prod"><i class="fa fa-paperplane"></i> Quảng cáo</div>
<div class="panel-body panel-body-post">    
<img src="~/images/products/3152_chic_cham_dau_tam_cam_petcity.png"
class="img-rounded img-adv"alt="Quảng cáo"/>
<marquee>Chạm vào hương vị, chạm vào yên bình: Trà Sữa Phúc Long</marquee>
</div>
</div>
<div class="youtube">
<iframe width="110%" height="300"
src="https://www.youtube.com/embed/SBxJWQk9fBU" title="YouTube
video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
<div class="map">
<iframe
src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.4206985418705!2d106.78
253487570396!3d10.855572157727538!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x
3175276e7ea103df%3A0xb6cf10bb7d719327!2zSFVURUNIIC0gxJDhuqFpIGjhu41jIEPDtG5nIG5naOG7hy
BUUC5IQ00gKFRodSBEdWMgQ2FtcHVzKQ!5e0!3m2!1svi!2s!4v1710172843840!5m2!1svi!2s"
width="110%" height="300" style="border:0;" allowfullscreen="" loading="lazy"
referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
</div>
</div>
</div>
<div  class="footer">
<div style="background-color : #004d00" class="container container-footer">
<div class="col-md-8">
<h4>Phúc Long - Coffee & Tea</h4>
<p>Địa chỉ: HUTECH Thuduc Campus - Khu CNC, Phường Hiệp Phú, Tp. Thủ Đức,
Tp. Hồ chí Minh</p>
<p>SĐT: <a class="info" href="tel:0352629497">035.2629.497</a> (Tuấn 
    Anh)</p>
<p>Email: <a class="info" href="mailto:
tuananh09861@gmail.com">tuananh09861@gmail.com</a></p>
</div>
<div class="col-md-4">
<img src="~/images/logo.png" alt="logo"/>
<p></p>
<p>Số lượng truy cập hiện tại: 100</p>
</div>
</div>
</div>
<div id="modalSignup" class="modal fade" role="dialog">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">Đăng ký</h4>
</div>
<div class="modal-body">
<form>
<div class="form-group">
<label for="username">Username:</label>
<input type="text" class="form-control" id="username"
placeholder="Nhập username" required>
</div>
<div class="form-group">
<label for="fullname">Họ tên:</label>
<input type="text" class="form-control" id="fullname"
placeholder="Nhập họ tên" required>
</div>
<div class="form-group">
<label for="address">Địa chỉ:</label>
<input type="text" class="form-control" id="address"
placeholder="Nhập địa chỉ">
</div>
<div class="form-group">
<label for="phone">Số điện thoại:</label>
<input type="tel" class="form-control" id="phone" placeholder="Nhập
số điện thoại">
</div>
<div class="form-group">
<label for="email">Email:</label>
<input type="email" class="form-control" id="email"
placeholder="Nhập email" required>
</div>
<div class="form-group">
<label for="password">Mật khẩu:</label>
<input type="password" class="form-control" id="password"
placeholder="Nhập mật khẩu" required>
</div>
<div class="form-group">
<label for="confirmPassword">Nhập lại mật khẩu:</label>
<input type="password" class="form-control" id="confirmPassword"
placeholder="Nhập lại mật khẩu" required>
</div>
<button type="submit" class="btn btn-primary">Đăng ký</button>
</form>
</div>
</div>
</div>
</div>
<div id="modalLogin" class="modal fade" role="dialog">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">Đăng nhập</h4>
</div>
<div class="modal-body">
<form>
<div class="form-group">
<label for="username">Username:</label>
<input type="text" class="form-control" id="username"
placeholder="Nhập username" required>
</div>
<div class="form-group">
<label for="password">Mật khẩu:</label>
<input type="password" class="form-control" id="password"
placeholder="Nhập mật khẩu" required>
</div>
<button type="submit" class="btn btn-primary">Đăng nhập</button>
</form>
</div>
</div>
</div>
</div>
<script src="~/js/jquery.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="js/site.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>