@model bai3.ViewModels.UserViewModel

<div class="panel panel-primary">
	<div class="panel-heading panel-heading-prod"><i class="fa fa-pencil"></i> Chỉnh sửa thông tin thành viên</div>
	<div class="panel-body">
		@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
		{
			<div class="alert alert-danger" role="alert">
				@ViewBag.ErrorMessage
			</div>
		}
		<form class="form form-horizontal" asp-action="Edit" asp-controller="User"
			  method="POST">
			<div class="form-group">
				<label asp-for="Register.Username" class="col-md-3 control-label"></label>
				<div class="col-md-9">
					<input class="form-control" asp-for="Register.Username"
						   placeholder="Tên đăng nhập" readonly />
					<span asp-validation-for="Register.Username" class="text-danger"></span>
				</div>
			</div>

			<div class="form-group">
				<label asp-for="Register.Name" class="col-md-3 control-label"></label>
				<div class="col-md-9">
					<input class="form-control" asp-for="Register.Name"
						   placeholder="Nhập họ và tên" required />
					<span asp-validation-for="Register.Name" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group">
				<label asp-for="Register.Address" class="col-md-3 control-label"></label>
				<div class="col-md-9">
					<input class="form-control" asp-for="Register.Address"
						   placeholder="Nhập địa chỉ" />
					<span asp-validation-for="Register.Address" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group">
				<label asp-for="Register.Email" class="col-md-3 control-label"></label>
				<div class="col-md-9">
					<input class="form-control" asp-for="Register.Email"
						   placeholder="Nhập địa chỉ email" required />
					<span asp-validation-for="Register.Email" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group">
				<label asp-for="Register.Phone" class="col-md-3 control-label"></label>
				<div class="col-md-9">
					<input class="form-control" asp-for="Register.Phone"
						   placeholder="Nhập số điện thoại" required />
					<span asp-validation-for="Register.Phone" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group">
				<label asp-for="Register.Password" class="col-md-3 control-label"></label>
				<div class="col-md-9">
					<input type="password" class="form-control" asp-for="Register.Password" id="password" placeholder="Nhập mật khẩu" required
						   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
						   title="Mật khẩu phải có ít nhất 8 ký tự, bao gồm ít nhất một chữ số, một chữ thường và một chữ hoa." />
					<span asp-validation-for="Register.Password" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">Nhập lại mật khẩu:</label>
				<div class="col-md-9">
					<input type="password" class="form-control" id="confirmPassword"
						   placeholder="Nhập lại mật khẩu" required
						   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
						   title="Mật khẩu phải có ít nhất 8 ký tự, bao gồm ít nhất một chữ số, một chữ thường và một chữ hoa."
						   oninput="checkPasswordMatch(this);" />
					<div id="passwordMatchMessage"></div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-offset-3 col-md-9">
					<button type="submit" class="btn btn-primary">Lưu thay đổi</button>
				</div>
			</div>
		</form>
	</div>
</div>

@section scripts {
	<script>
		function checkPasswordMatch(input) {
			var passwordInput = document.getElementById('password');
			var confirmPasswordInput = input;
			if (passwordInput.value !== confirmPasswordInput.value) {
				confirmPasswordInput.setCustomValidity('Mật khẩu không khớp');
			}
			else {
				confirmPasswordInput.setCustomValidity('');
			}
		}
	</script>
}
