@model bai3.ViewModels.HomeViewModel
@{
    var _count = 0;
    foreach (var item in Model.Sliders) _count++;
}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        @{
            for (int i = 1; i < _count; i++)
            {
                <li data-target="#myCarousel" data-slide-to="@i"></li>
            }
        }
    </ol>
    <div class="carousel-inner">
        @{
            var item_active = 0;
            foreach (var item in Model.Sliders)
            {
                if (item_active == 0)
                {
                    item_active = 1;
                    <div class="item active">
                        <a href="chuong-trinh/@item.Link">
                            <img src="~/images/sliders/@item.Img" alt="@item.Title">
                        </a>
                      
                    </div>
                }
                else
                {
                    <div class="item">
                        <a href="chuong-trinh/@item.Link">
                            <img src="~/images/sliders/@item.Img" alt="@item.Title">
                        </a>
                       
                    </div>
                }
            }
        }
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<script>
    $(document).ready(function () {
        // Bắt sự kiện click vào hình trong carousel
        $('#myCarousel .carousel-inner .item a').click(function () {
            // Lấy URL được chuyển hướng
            var url = $(this).attr('href');
            // Chuyển hướng sang URL
            window.location.href = url;
            return false; // Ngăn chặn hành động mặc định của thẻ a
        });
    });
</script>
